@import "../../global.scss";

.formsWrapper {

    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;

    .leftSideRegisterForms {
        
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $branco;
        width: 65vw;

        .loginOption {

            text-align: center;
            color: #32323F;
            width: 100%;

            h1 {

                font-size: 2rem;
                margin-top: 2.5rem;

            }

            p {

                padding: 1rem;
                text-align: center;
    
            }

            .loginAlternative {

                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 1rem;
                width: 100%;
                align-items: center;

                img {

                    width: 30px;
                    margin-right: 1rem;
                    margin-left: 1rem;
                    cursor: pointer;
                    display: none;

                }

            }

        }

        .forms {

            position: relative;
            width: 85%;
            height: 100%;
            background-color: $branco;
            align-items: center;

        }

        .formRegister {

            display: flex;
            flex-direction: column;
            width: 60%;
            margin: 0 auto;

            input {

                padding: .5rem;
                margin-top: .5rem;
                background-color: #ebebeb;
                border-radius: .2rem;
                border: none;
                height: 2.5rem;
                outline-color: $vinho;

            }

            .passwordDiv {

                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                input {

                    width: 49%

                }

            }

            .cityDiv {

                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                input {

                    width: 69%

                }

                select {

                    padding: .5rem;
                    margin-top: .5rem;
                    background-color: #ebebeb;
                    border-radius: .2rem;
                    border: none;
                    height: 2.5rem;
                    outline-color: $vinho;

                }

                #uf {

                    width: 29%;

                }

                #localidade {

                    width: 69%;

                }

            }

        }

        button {
            
            display: flex;
            cursor: pointer;
            margin-top: 1rem;
            padding: 1rem 3rem;
            border-radius: 5px;
            border: none;
            background-color: $vinho;
            margin: 1px solid $branco;
            text-transform: uppercase;
            font-weight: 700;
            color: $branco;
            margin: 30px auto;
            
        }
    
    }

    .rightSideRegisterForms {
        
        background-color: $deepVinho;
        right: 0;
        margin: auto;
        width: 500px;
        height: 830px;

        .wrapperDiv {

            img {  

                width: 120%;
                margin: auto;
                display: block;
                object-fit: contain;

            }

        }

    }

}
