@import '../../../global.scss';

.AdminItems {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .itemsOptions {

        width: 50%;
        align-items: center;
        margin: 0 auto;

        fieldset {

            border: none;

        }

        h1 {

            margin: 3rem 0;
            text-align: center;

        }

        input::placeholder {

            color: $branco;

        }

        input {

            background-color: $vinho;
            color: $branco;
            width: 100%;
            margin-bottom: 3rem;
            outline: none;
            height: 3rem;
            font-size: 14px;
            padding-left: 1rem;
            border: none;
    
        }

        input[type="file"] {

            padding-top: .8rem;

        }

        select {

            background-color: $vinho;
            color: $branco;
            width: 100%;
            margin-bottom: 3rem;
            outline: none;
            height: 3rem;
            font-size: 14px;
            padding-left: 1rem;
            border: none;

        }
        
        h2 {

            margin-bottom: .5rem;

        }

        h4 {

            margin-bottom: 1rem;
            text-align: center;

        }

        .buttonProducts {

            width: 100%;
            display: flex;
            justify-content: center;

            a {
                
                display:flex;
                cursor: pointer;
                color: $branco;
                padding: 1rem;
                margin: 0 0 2rem 0;
                background: $deepVinho;
                text-decoration: none;
                border-radius: .3rem;
                transition: .24s;
                border: 1px solid $deepVinho;
                justify-content:center;
                font-weight: 500;
                width: 30%;
                
                &:hover,
                &:focus {
    
                    box-shadow: inset 0 0 0 35px $offwhite;
                    color: $deepVinho;
    
                }
            }

        }
        
    }
        
    #deleteButton {
        
        margin-bottom: 2rem;
        
    }
    
}


