@import '../../global.scss';

.HomePage {

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1D222C;
    
    #heroSection {
    
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 75vh;
        align-items: center;
    
        .optionsHero {
    
            display: flex;
            height: 8vh;
            width: 100vw;
            margin-top: 1rem;
            background-color: #2B303A;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
    
            span{
                
                object-fit: contain;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                display: block;
                text-transform: uppercase;
                font-weight: 400;
                color: $branco;
    
            }
    
            span:hover {
    
                color: $vinhoPink;
    
            }
    
        }
    
        .heroWrapper {
            
            width: 90vw;
            height: 50vh;
            background-color: $deepVinho;
            margin-top: 1rem;
            border-radius: 8px;
        
        }
    
    }

    #featuredProdutcsSection {

        display: flex;
        flex-direction: column;
        width: 95vw;
        height: 250px;
        margin-bottom: 2rem;
        position: relative;

        .featuredProductsText {

            display: flex;
            flex-direction: row;
            font-size: 1.1rem;
            color: $branco;

            .viewAll {

                display: flex;
                flex-direction: row;
                position: absolute;
                right: 0;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $branco;

                h4 {

                    margin-right: 5px;

                }
                
                img {

                    max-width: 30px;

                }

            }

        }

        .featuredProducts {

            width: 100%;
            height: 50%;
            display: grid;
            grid-template-columns: 350px 350px 350px 350px;
            justify-content: space-around;

            .featuredProductsCard {

                width: 70%;
                height: 100%;
                background-color:#2B303A;
                display: flex;
                flex-flow: wrap;
                flex-direction: row;
                align-items: center;
                text-align: center;
                margin: 0 auto;
                border-radius: 10px;
                position: relative;
                margin-top: 4rem;

                .imgFeaturedWrapper {

                    width: 30%;
                    height: 100%;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    position: relative;

                    img {
                        
                        position: absolute;
                        left: 10px;
                        max-width: 60px;
                        bottom: 0;

                    }

                    #imgVinho {

                        width: 40px;

                    }

                }

                .featuredTag {

                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40%;
                    height: 25%;
                    background-color: $vinhoPink;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;

                    h6 {

                        color: $branco;
                        text-transform: uppercase;
                        font-size: .75rem;
                        margin-top: 0.4rem;

                    }

                }

                .featuredTextWrapper {
                    
                    h5 {

                        color: $branco;

                    }

                    span {

                        color: #666C75;
                        font-size: .9rem;
                        font-weight: 500;

                    }
                    
                }

            }

        }

    }

#optionSection{

    h4 {

        font-size: 1.1rem;
        color: $branco;
        margin-bottom: 1rem;

    }

    .optionsInfos {

        display: flex;
        width: 95vw;
        height: 270px;
        background-color: #2b2b2b;
        margin-bottom: 4rem;
        position: relative;

        img {

            width: auto;
            height: auto;

        }

        .optionsSelection {

            display: flex;
            position: absolute;
            height: 100%;
            right:0;
            width: 52vw;
            display: grid;
            grid-template-columns: 210px 210px 210px;
            align-items: center;

            .cardsOptionsSelection {

                display: flex;
                height: 70px;
                width: 150px;
                border-radius: 60px 0 60px 0;
                background-color:#333333;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $branco;
                cursor: pointer;

                :hover{

                    color: $vinhoPink;

                }

            }

        }

    }

}
}

