:root {
    --vinho: #A71C2B;
    --deepvinho:  #53051a;
    --branco: #ffffff;
    --offwhite: #F2F2F2;
    --cinza: #596264;
    --preto: #000000;
}


footer {

    width: 100vw;
    overflow-y: hidden;
    color: var(--branco);
    background-color: var(--deepvinho);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;

}

.copyright {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

}

.copyright p {

    font-size: 1em;

}

.copyright img {

    height: 50px;
    margin-top: 15px;

}

.footerContacts {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
    max-height: 40vh;
    margin-top: 15px;
    margin-bottom: 15px;

}

.footerContacts img {

    height: 100px;
    margin-bottom: 15px;

}

.footerContacts ul {

    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
    margin-right: 30px;
    list-style: none;

}

.footerContacts p {
    margin-top: 20px;
}

.footerContacts li a {

    cursor: pointer;
    text-decoration: none;
    color: var(--branco);

}

.socialMedias {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem;

}

.socialMedias img {

    height: 50px;
    margin-right: 10px;
    margin-left: 10px;

}

.socialMedias a {

    cursor: pointer;

}

@media screen and (max-width: 768px) {

    footer {

        flex-direction: column;
        padding-bottom: 0;

    }

    .copyright {

        width: 90vw;
        margin: 0px;
        height: auto;
        margin-top: 15px;
        margin-bottom: 20px;
        align-items: center;
        border-top: 1px solid white;
        display: flex;

    }

    .copyright img {

        height: 50px;

    }

    .footerContacts{

        width: 90vw;
        height: auto;
        text-align: justify;
        margin: 0px;
        /* max-height: none; */

    }

    .footerContacts ul {

        width: 90vw;
        justify-content: space-between;
        padding: 0;

    }

    .footerContacts li {

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9pt;

    }

    .footerContacts p {

        font-size: 9pt;

    }

    .socialMedias {

        width: 100vw;
        height: 10vh;
        align-items: center;
        justify-content: center;
        padding: 0;

    }

}